/ConectorCompleto2022/dist/
/JavaApplication4/nbproject/private/
/biblioteca/build/
/biblioteca/dist/
/JuegoTrivia/nbproject/private/
/JuegoTrivia/build/
/JuegoTrivia/dist/
/TIGO/Hallazgos_v1/Hallazgos_v1/nbproject/private/